html {
    background: url(../imgs/sea.gif) no-repeat center fixed wheat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: wheat;
    text-align: center;
}

#container {
    line-height: 1.3;
    margin-right: auto;
    margin-left: auto;
}

a {
    font-size: 3.5rem;
    color: wheat;
    text-decoration: none;
}
a:hover {
    font-weight: bolder;
    font-size: 3.6rem;
    cursor: pointer;
}

#linkcontainer, .external {
    font-size: 3rem;
}
.external:hover {
    font-size: 3.1rem;
}

hr {
    width: 70%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, wheat, #333, wheat);
    background-image: -moz-linear-gradient(left, wheat, #333, wheat);
    background-image: -ms-linear-gradient(left, wheat, #333, wheat);
    background-image: -o-linear-gradient(left, wheat, #333, wheat);
    margin: 1.5% auto;
}

#loadingVenues {
    display: none;
}

.loader {
    display: none;
}